<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show all users</title>
  <style>
    table,td,th {
      border : 1px solid black ;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
    <%for(user of users){%>
   <tr>
    <td><%=user.id%></td>
    <td><%=user.username%></td>
    <td><%=user.email%></td>
    <td>
      <form action="http://localhost:8080/user/<%=user.id%>/edit" method="get">
        <button>Edit Username</button>
      </form>
    </td>
    <td>
      <form action="/user/<%=user.id%>/delUser" method="get">
        <button>Delete User</button>
      </form>
    </td>
   </tr>

<%}%>
  </table>
</body>
</html>



